<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinoha</title>

    <link rel="stylesheet" href="../../static/css/test.css"/>
</head>
<body>
<header><b>Hat</b></header>
    <aside id = "aside2"></aside>
    <main>
        <div><p style="color: black">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea eveniet harum ipsum officia repellendus similique tempore? Alias aliquam aliquid, autem dolorem ducimus, est harum incidunt, ipsa ipsam pariatur quibusdam?
        </p></div>
    </main>
    <aside></aside>
    <footer></footer>
</body>
</html>