<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinoha</title>

    <link rel="stylesheet" href="../../static/css/test.css">
</head>
<body>
    <header></header>
    <main>
    <select multiple>
        <option >Merc</option>
        <option selected>BMW</option>
        <option>Tayota</option>
    </select>
    </main>

    <aside>
        <details>
            <summary>open</summary>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, suscipit!
        </details>
    </aside>

    <footer>
        <progress max="15" value="2"/>
    </footer>



</body>
</html>